<h1><%= @location.name %> Life</h1>

   <ul>
    <% @unicorns.each do | unicorn | %>
        <%  if unicorn.location_id == @location.id  %>
               <li><%= unicorn.name %></li>
        <% end %>
    <% end %>
   </ul>